<%#= @item.inspect %>
<div class="row">
<br>
<br>
<br>
    <div class="large-12 columns">
    	<div class="panel_form">
        <p class="welcome"> Update <%= Item.model_name.human%></p>
        	
        	<%= render :partial => "edit_form"%>
		
		</div>
	</div>
</div>


