<div class="row">
<br>
<br>
<br>
    <div class="large-12 columns">
    	<div class="panel_form">
        <p class="welcome">Editing <%= Item.model_name.human%></p>
        
		<%= render 'form' %>
		</div>
	</div>
</div>


